<h1>Contact List 4.0</h1>

<form id="contact-form" name="contact-form" action="/" method="post">
  <label for="firstname">first name:</label><br/>
  <input type="text" name="firstname" id="firstname"/><br/>
  <label for="lastname">last name:</label><br/>
  <input type="text" name="lastname" id="lastname" /><br/>
  <label for="email">email:</label><br/>
  <input type="text" name="email" id="email" /><br/>
  <input type="submit" name="submit" class="submit" />
</form>

<% @contacts.each do |contact| %>
  name: <%= contact.firstname %> <%= contact.lastname %><br>
  email <%= contact.email %><br>
  <hr>
<% end %>